
/* colori */
:root{
    --color-p: #ecfee8ff; /*primary-sfondo */
    --color-s: #100b00ff; /*secondary-testo */
    --color-a: rgb(92, 116, 87); /*accent-verdino */
    --color-a2: #c3dfe0ff; /*accent-azzurrino */
    --color-a3: rgb(162, 136, 166); /*accent-rosino */
}


/* font */

.font-title{
    font-family: "Abril Fatface", serif;
}

.font-text{
    font-family: "LXGW Marker Gothic", sans-serif;
}

.font-extra{
    font-family: "Savate", sans-serif;
}

/* colori */

.bg-standard{
    background-color:var(--color-p) ;
}

.bg-nav{
    background-color:var(--color-a3) ;
}

.bg-button{
    background-color:rgba(92, 116, 87, 0.614) ;
   
}

.bg-drop{
    background-color: var(--color-a2);
}

.bg-form{
    background: linear-gradient(rgba(92, 116, 87, 0.356), rgba(162, 136, 166, 0.471));
}

.text-color{
    color: var(--color-s);
}

.bg-card{
    background-color: rgba(162, 136, 166, 0.701);
}

/* hover */

.bg-button:hover{
    background-color: var(--color-a);
    border: 2px solid var(--color-s);
    
    transition: 1000ms;

}

/*card*/

.card {
  /* width: 300px; */
  /* margin: 10px; */
  border: 1px solid black;
  

  align-items: stretch; 
}

.card-p {
  overflow: auto; 
}