
/* colori */
:root{
  --color-p: #f6fedb; /*primary-sfondo */
  --color-s: rgb(16, 11, 0); /*secondary-testo */
  --color-a: #e6d3a3; /*accent-verdino */
  --color-a2: #D8D174; /*accent-verdino-giallino */
  --color-a3: rgb(181, 196, 84); /*accent-verdino-più */
}


/* font */

.font-gen{
  font-family: "Open Sans";
}

.font-taglia{
  font-size: 1.5rem;
}

.font-taglia-card{
  font-size: 1.1rem;
}



/* colori */

.bg-standard{
  background-color:var(--color-p) ;
}

.bg-header{
  background-image: url(../../public/img/CoverPage2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}

.bg-button{
  background-color:rgba(92, 116, 87, 0.781) ;
  border: 2px solid var(--color-s);
  
}

.bg-drop{
  background-color: rgba(246, 254, 219, 0.468);
}

.bg-form{
  background-color: rgba(181, 196, 84, 0.601);
  border-radius: 50px;
  border: 3px solid rgb(16, 11, 0) ;
}

.bg-profile{
  height: 39vh;
  
}

.text-color{
  color: var(--color-s);
}

.bg-card{
  background-color:  rgba(246, 254, 219, 0.468);
}

/* hover */

.bg-button:hover{
  background-color: rgba(181, 196, 84, 0.577);
  border: 2px solid var(--color-s);
  
  transition: 1000ms;
  
}


/*card*/

.card {
  /* width: 300px; */
  /* margin: 10px; */
  border: 1px solid black;
  align-items: stretch; 
  
}

.card-p {
  overflow: auto; 
}

/*navbar*/




nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  /* mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%); */
  /* padding-bottom: 20vh;  */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul {
  text-align: center;
  
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-top: 15px;
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.dropdown-custom{
  z-index: 10;
  background-color: rgba(181, 196, 84, 0.9);
  
}

.dropdown-item:hover{
  
  /* background-color: black !important; */
  opacity: 0.8;
  background-color: rgba(181, 196, 84, 1) !important;
  
}

.fa-language{
  font-size: 25px;
}

/*card show*/
/* From Uiverse.io by 0xnihilism */ 
.card-show {
  width: 100%;
  padding: 50px;
  background:  #d8d174bb;
  border: 6px solid var(--color-s);
  box-shadow: 12px 12px 0 rgba(181, 196, 84, 0.744);
  transition: transform 0.1s, box-shadow 0.1s;
}

.card-show:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 var(--color-s);
}

.card__title {
  font-size: 1.9rem;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.1s;
}

.card-show:hover .card__title::after {
  transform: translateX(0);
}

.card-content {
  font-size: 16px;
  padding: 0px;
  color: #000;
  
  
}

.card-button {
  display: inline-block;
  padding: 15px 32px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgba(246, 254, 219, 0.603);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card-button:before,
.card-button:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.card-button:before {
  left: -100%;
  background: linear-gradient(90deg,  #888339, rgb(96, 103, 45),  #888339);
  z-index: -1;
}

.card-button:hover:before {
  left: 0;
}

.card-button:after {
  right: -100%;
  background: linear-gradient(270deg, #888339, rgb(96, 103, 45),  #888339);
  z-index: -1;
}

.card-button:hover:after {
  right: 0;
}

.card-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-button:active {
  transform: translateY(1px);
  box-shadow: none;
}

/* BOTTONE ALTERNATIVO */
.card-button2 {
  display: inline-block;
  padding: 15px 32px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #d8d174e4;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card-button2:before,
.card-button2:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.card-button2:before {
  left: -100%;
  background: linear-gradient(90deg,  #888339, rgb(96, 103, 45),  #888339);
  z-index: -1;
}

.card-button2:hover:before {
  left: 0;
}

.card-button2:after {
  right: -100%;
  background: linear-gradient(270deg, #888339, rgb(96, 103, 45),  #888339);
  z-index: -1;
}

.card-button2:hover:after {
  right: 0;
}

.card-button2:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-button2:active {
  transform: translateY(1px);
  box-shadow: none;
}



/*immagine*/

img{
  max-width: 100%;
  height: auto;
  
}

h1{
  z-index: 0;
  background-color: transparent;
}

.container-dashboard {
  background: linear-gradient(rgba(16, 11, 0, 0.301), rgba(181, 196, 84, 0.405));
  height: 70vh;
  width: 80vh;
  justify-self: center;
  padding: 15px;
  border-radius: 5%;
  margin-top: 7vh;
}




.sparisci {
  animation-name: prova;
  animation-duration: 3s;
}

@keyframes prova {
  0% {translate: 0px;}
  50% {translate: 50px;}
  100% {translate: 150px;}
}



/* CARD NUOVA COMPONENTE---------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  
  /* --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%); */
  
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



/* h2 {
font-size: 2.25rem;
font-family: var(--font-title);
color: var(--white);
line-height: 1.1;
}

p {
font-family: var(--font-text);
font-size: 1rem;
line-height: 1.5;
color: var(--white);
} */

/* .flow > * + * {
margin-top: var(--flow-space, 1em);
} */

/* CARD COMPONENT */

.card-custom {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  /* box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25); */
}

.card-custom > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  width: 100%;
  padding: 12% 1.25rem 1.875rem;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)  ); */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  font-size: 1.125rem;
  width: 100%;
  padding-bottom: 10%;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--color-a3);
}

.card__button {
  /* padding: 0.75em 1.6em; */
  display: flex;
  justify-content: center;   
  align-items: center;
  /* width: fit-content; */
  /* width: -moz-fit-content;  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: #d8d174da;
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }
  
  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }
  
  .card__background {
    transition: transform 500ms ease-in;
  }
  
  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }
  
  .card-custom:hover,
  .card-custom:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }
  
  .card-custom:hover .card__content,
  .card-custom:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }
  
  .card-custom:focus-within .card__content {
    transition-duration: 0ms;
  }
  
  .card-custom:hover .card__background,
  .card-custom:focus-within .card__background {
    transform: scale(1.3);
  }
  
  .card-custom:hover .card__content--container > :not(.card__title),
  .card-custom:hover .card__button,
  .card-custom:focus-within .card__content--container > :not(.card__title),
  .card-custom:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }
  
  .card-custom:hover .card__title::after,
  .card-custom:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}


/* search */

/* From Uiverse.io by vnuny */ 

.container-Search{
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: #a4977662;
  transition: all 0.3s ease;
}

/* .prova{
position: absolute;

} */

/* .prova:checked{
right: 50px;
position: absolute;
} */

.checkbox:focus {
  border: none;
  outline: none;
}

/* .checkbox:checked {
right: 10px;
} */

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 90%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 8px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 25px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1em;
  margin-right: 30px;
  /* padding-left: 5px; */
}

.form-control-search:focus{
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
}

.img-preview{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
}


/* Accordion revisore */

.accordion-button {
  background-color: rgba(181, 196, 84, 0.601);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(181, 196, 84, 0.601);
  color: black;
}


/* Card revisione immagini */

* {
	box-sizing: border-box;
}

.body-img {
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
  width: 100%;
}

.img-card {
	display: block;
	width: 100%;
}

.h2-card {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	.h2-card {
		font-size: 1.8rem;
	}
}

.cta {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	max-width: 50rem;
	width: 100%;
	overflow: hidden;
  padding: 50px;
  background:  #d8d174bb;
  border: 6px solid var(--color-s);
  box-shadow: 12px 12px 0 rgba(181, 196, 84, 0.744);
  transition: transform 0.1s, box-shadow 0.1s;

}

.cta .img-card {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta .a-card {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}

.cta:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 var(--color-s);
}